<!DOCTYPE html>
<html lang="en" dir="ltr'>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
		<b>1 - Estimation de la consommation énergétique pour les valeurs:</b>
		
		<br> <br>
		<form action="{% url 'result' %}">
		
		{% csrf_token %}
		
		Température Extérieure &ensp; &ensp; &ensp; <input type="text" required name= "METO"> <br> <br>
		Occupations zone 1    &emsp;&emsp;&emsp; &ensp; <input type="text" required name= "OCC1"> <br> <br>
		Occupations zone 2  &emsp;&emsp;&emsp; &ensp; 		<input type="text" required name= "OCC2"> <br> <br>
		Température intérieure zone 1 <input type="text" required name= "TMP1"> <br> <br>
		Température intérieure zone 2 <input type="text"	required name= "TMP2"> <br> <br>
		Thermostat zone 1 &emsp;&emsp;&emsp; &ensp;   &ensp;          <input type="text" required name= "TEH1"> <br> <br>
		Thermostat zone 2    &emsp;&emsp;&emsp; &ensp;  &ensp;        <input type="text" required name= "TEH2"> <br> <br>
		
	<input type="submit" name= "" value="submit"> <br> <br>
	
		
		<b>2 - Estimation de la consommation énergétique pour un scénario prédéfini : </b>
		<br><br>
		<b>2-1 Ajouter : le scénario (fichier CSV)</b>
		</form>
		
		<form enctype="multipart/form-data" method="post"" >
			 {% csrf_token %}
			 {{ form.as_p }}
		
		
		
			<button type="submit" class="save btn btn-default">save</button>
  
		</form>
		<br><br>

		<b>2-2 Prédiction de la consommation à venir</b>
		
		<br> <br>
		<form action="{% url 'result2' %}">
		
			{% csrf_token %}
	
			<input type="submit" name= "" value="run">
			<br> <br>
		
		
		</form>
		
		<b>2-3 Estimation en temps réel (sénario) </b>
		
		<br> <br>
		
		<form action="{% url 'result2' %}">
		
			{% csrf_token %}
	
			<input type="submit" name= "" value="run">
			<br> <br>
		
		
		</form>
		
		
		
		
		
		<b>3- Lancer l'estimation en temps réel a partir des capteurs :</b>
		<br> <br>
		<form action="{% url 'show_graph' %}"">
		
			{% csrf_token %}
	
			<input type="submit" name= "" value="run">
			
		<br> <br>
		
		</form>
		
		
		<b>3- Lancer l'estimation en temps réel a partir des capteurs (2) :</b>
		<br> <br>
		<form action="{% url 'show_graph2' %}"">
		
			{% csrf_token %}
	
			<input type="submit" name= "" value="run">
			
		
		
		</form>
		
	</body>
</html>


<!--- by youcef kaddour --->